<p>authresolve works!</p>
<div *ngFor="let x of AllStudents">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{x.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{x.course}}</h6>
          <p class="card-text">Some quick example {{x.dob}}text to build on 
            the card title and make up the bulk of{{x.gender}} the card's content.</p>
          <a href="#" class="card-link">{{x.marks}}</a>
          <a href="#" class="card-link">{{x.fee}}</a>
        </div>
      </div>
</div>

